.root{
    -fx-background-color : "#FFB6C1";
}
.scrollPane {
    -fx-fit-to-width : true;
    -fx-fit-to-height : true;
    -fx-vbar-policy	: never;
}
.flowPane {
    -fx-background-color:"#888888";
    -fx-padding :5.0;
    -fx-hgap : 5.0;
    -fx-vgap : 5.0;
    -fx-pref-height : 50.0;
}
.label {
    -fx-background-color:"#cccccc";
    -fx-alignment : bottom-right;
    -fx-pref-width : 50.0;
    -fx-pref-height : 50.0;
    -fx-border-style  :solid;
}

